// imports
@import './style/grid.scss';

@font-face {
  font-family: 'titling-gothic-extended';
  src: url('../type/titling-gothic-extended.woff');
  src: local('☺'), url('../type/titling-gothic-extended.woff') format('woff');
  // 	font-display: swap;
}

@font-face {
  font-family: 'akkurat-mono';
  src: url('../type/akkurat-mono.woff');
  src: local('☺'), url('../type/akkurat-mono.woff') format('woff');
  // 	font-display: swap;
}

.f-prim { font-family: 'titling-gothic-extended', var(--system-ui); }
.f-sec { font-family: 'akkurat-mono', var(--system-ui); }

.fs-xl {
  font-size: 8vw;
  line-height: 1;
  @include breakpoint(md) { font-size: 3.8vw; }
}

.fs-md { font-size: 1.6rem; }
.fs-sm { font-size: 1.2rem; }

.f-outline {
  color: transparent;
  text-stroke: 1px var(--darkest);
  -webkit-text-stroke: 1px var(--darkest);
}

// var
.uc { text-transform: uppercase; }
.taj { text-align: justify; }
.tar { text-align: right; }
.tac { text-align: center; }